
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id "navbar">
    <h2>Lee's Blog <a href="blog">Home</a> <a href="signup">Signup</a></h2>
</div>

{% block content %}{% endblock %}

</body>
</html>