{% extends "base.html" %}

{% block content %}
<h2>Welcome to this blog!</h2>
<p> I am {{ author }}, the author of this blog </p>
<!-- conditional statement -->
{% if sunny %}
<p>Today it is sunny</p>
{% else %}
<p>Today it is rainy</p>
{% endif %}
<!-- end of conditional statement-->

<!-- for loop-->
{% for post in posts %}
    <h2>{{post.title}}</h2>
    <h3>Author: {{post.author}}</h3>
{% endfor %}
<!-- end for loop-->

{% endblock %}