{% extends "base.html" %}

{% block content %}

<h2> Sign Up</h2>
<form action="" method="POST">
    <p>
        {{form.username.label}} <br>
        {{form.username(size=30)}}
    </p>
    <p>
        {{form.password.label}} <br>
        {{form.password(size=30)}}
    </p>
    <p>{{form.submit()}}</p>
</form>

{% endblock %}